---
  import Calculator from '../components/Calculator.jsx';
  import Layout from '../layouts/Layout.astro';
---
  
  <html lang="es">
	<head>
	  <title >React Calculadora</title>
	  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
	  <link href="https://cdn.jsdelivr.net/npm/daisyui@1.14.0/dist/full.css" rel="stylesheet">
	</head>
	<body>
	  <Calculator />
	  <Layout title="Astro Calculadora" />
	</body>
  </html>